node_modules/
**/node_modules/

dist/
**/dist/
build/
coverage/
.nyc_output/

logs/
**/logs/
*.log

.env
.env.*
!.env.example

venv/
**/venv/
.venv/
**/.venv/

uploads/
**/uploads/
*.sqlite
*.sqlite3

.DS_Store
.vscode/
.idea/
